# Entornos virtuales
env/
.env

# Archivos de base de datos
db.sqlite3

# Configuración de VSCode
.vscode/

# Dependencias de Node.js
client/node_modules/

# Lock files
package-lock.json

# Archivos temporales y de sistema
*.pyc
__pycache__/
.DS_Store
